.advantages__header {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;

  background-color: @white;
  text-align: center;
  padding: 42px 50px 33px;
}

.advantages__intro {
  margin-bottom: 30px;
}

.advantages__wrapper {
  padding: 62px 27px 65px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;

    width: 320px;
    height: 94px;
    background-image: url(../img/bg-triangle-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    width: 157px;
    height: 278px;
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__list {
  .reset-list;
  text-align: center;
  margin-bottom: 250px;

  &--pics {
    display: none;
  }
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: @black;

  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .advantages__header {
    padding: 47px 20px;
    font-size: 40px;
  }

  .advantages__intro {
    margin-bottom: 0;

    &--fixed-width {
      width: 340px;
      margin: 0 auto;
    }
  }

  .advantages__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 620px;
    margin: 0 auto;
    padding: 57px 5px 9px;
    box-sizing: border-box;

    &::before {
      top: -1px;
      left: -20px;
      width: 660px;
    }

    &::after {
      margin: 0;

      width: 268px;
      height: 481px;
      background-image: url(../img/iphone-screen-3-tablet@1x.png);
    }
  }

  .advantages__list {
    width: 50%;
    text-align: left;
    margin-bottom: 0;
  }
  .advantages__item {
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__container {
    width: 940px;
    margin: 0 auto;
  }

  .advantages__header {
    padding-top: 68px;
    padding-bottom: 77px;
    font-size: 50px;
  }

  .advantages__intro--fixed-width {
    width: 420px;
  }

  .advantages__wrapper {
    width: 940px;
    display: block;
    padding: 325px 5px 9px;

    &::before {
      top: 0;
      left: -130px;
      width: 1200px;
    }

    &::after {
      display: none;
    }
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding: 0 30px;
  }

  .advantages__item {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: -327px;
      left: -30px;

      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--grey-screen::before {
      width: 292px;
      height: 302px;
      background-image: url(../img/iphone-screen-1-desktop@1x.png);
    }

    &--pink-screen::before {
      width: 292px;
      height: 302px;
      background-image: url(../img/iphone-screen-2-desktop@1x.png);
    }

    &--smile-screen::before {
      width: 292px;
      height: 302px;
      background-image: url(../img/iphone-screen-3-desktop@1x.png);
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .advantages__title,
  .advantages__description {
    width: 230px;
  }
}
