.app {
  font-weight: 300;
  color: @white;
  padding-top: 395px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 258px 286px;
  background-position: left 109px;
  background-repeat: no-repeat;
}

.app__wrapper {
  background-color: @dark-blue;
  text-align: center;
  padding: 40px 20px 30px;
}

.app__intro {
  display: none;
}

.app__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;

  padding: 13px 35px;
  border: 3px solid @white;
  border-radius: 50px;
  background-color: transparent;
}

.app__list {
  .reset-list;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .app {
    padding-top: 0;
    width: 620px;
    margin: 0 auto;
    padding: 100px 0 110px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-position: -40px 74px;
    background-repeat: no-repeat;
  }
  .app__wrapper {
    width: 300px;
    background-color: transparent;
  }
  .app__intro {
    display: block;
    .title;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 55px;
  }
  .app__button {
    padding: 13px 45px;
  }
  .app__availability {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .app {
    width: 940px;
    padding: 115px 0 120px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-position: 15px 100px;
    background-repeat: no-repeat;
  }
}
