.competition {
}
.competition__intro {
    line-height: 30px;
}
.competition__form {
    font-size: 18px;
    line-height: 30px;
}
.competition__button {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: @white;
    background-color: @green;
}
.competition__footnote {
    line-height: 30px;
}
.competition__footnote sup {
    color: @pink;
}
