.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  .uppercase;

  height: 325px;
}

.main-nav__list {
  .reset-list;
}

.site-list__item {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-nav {
    height: 365px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    height: 110px;
  }
  .site-list {
    display: flex;
  }
}
