.page-form {
  background-color: @white;
}

.page-form__title {
  .title;
  text-align: center;
  padding: 97px 45px 55px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-form__title {
    font-size: 50px;
    padding: 179px 80px 80px;
  }
}

@media (min-width: @desktop-width) {
  .page-form__title {
    padding: 173px 150px 101px;
  }
}
