.photo__intro {
  line-height: 30px;
  background-color: @white;
  padding: 54px 38px;
  margin: 0;
  text-align: center;
}

.photo__list {
  .reset-list;
}

.photo__item {
  margin-bottom: 20px;
}

.photo__pic {
  display: block;
  margin: 0 auto;
  &--tablet,
  &--desktop {
    display: none;
  }
}

.photo__wrapper {
  background-color: @grey;
  &--panorama {
    margin: 0 20px;
  }
}

.photo__name {
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
}

.photo__like {
  font-size: 12px;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .photo__intro {
    font-size: 18px;
    padding: 95px 110px 78px;
  }
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
  }
  .photo__item {
    width: 300px;
    &--panorama {
      width: 100%;
    }
  }
  .photo__pic {
    &--tablet {
      display: block;
    }
    &--mobile,
    &--desktop {
      display: none;
    }
    &--panorama {
      min-width: 700px;
      margin-left: -20px;
    }
  }
  .photo__wrapper {
    margin-bottom: 20px;
    &--panorama {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo__intro {
    padding: 100px 350px 95px;
  }
  .photo__list {
    margin: 0 130px;
  }
  .photo__pic {
    &--desktop {
      display: block;
    }
    &--mobile,
    &--tablet {
      display: none;
    }
    &--panorama {
      min-width: 1200px;
      margin-left: -130px;
    }
  }
  .photo__wrapper {
    margin-bottom: 54px;
  }
}
