.photo {
  &__intro {
    line-height: 30px;
  }
  &__wrapper {
    background-color: @grey;
  }
  &__list {
    .list-style;
  }
  &__name {
    font-weight: 700;
  }
  &__time {
    font-size: 12px;
    font-weight: 300;
  }
  &__like {
    font-size: 12px;
    color: @pink;
  }
}
