.photo {
}
.photo__intro {
    line-height: 30px;
}
.photo__wrapper {
    background-color: @grey;
}
.photo__list {
    .list-style;
}
.photo__name {
    font-weight: 700;
}
.photo__time {
    font-size: 12px;
    font-weight: 300;
}
.photo__like {
    font-size: 12px;
    color: @pink;
}
