.post {
}
.post__intro {
    line-height: 30px;
}
.post__form {
    background-color: @grey;
}
.post__button--post {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @pink;
}
