.post {
  &__intro {
    line-height: 30px;
  }
  &__form {
    background-color: @grey;
  }
  &__button--post {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @pink;
  }
}
