.prices {
  .uppercase;
  &__header {
    line-height: 30px;
    color: @white;

    background-color: @blue;
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
  }
  &__price {
    font-size: 24px;
    font-weight: 300;
  }
  &__options-list {
    .list-style;
  }
  &__options-item {
    line-height: 30px;
  }
}
