.prices {
  .uppercase;
}
.prices__header {
    line-height: 30px;
    color: @white;

    background-color: @blue;
}
.prices__name {
    font-size: 18px;
    font-weight: 700;
}
.prices__price {
    font-size: 24px;
    font-weight: 300;
}
.prices__options-list {
    .list-style;
}
.prices__options-item {
    line-height: 30px;
}
